<!DOCTYPE html>
<html lang="uk"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{shared/layout}">
<head>
    <title>Категорії</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="m-0">Список категорій</h1>
        <a class="btn btn-primary" th:href="@{/categories/create}">Додати категорію</a>
    </div>

    <div class="row g-3">
        <div th:each="category : ${categories}" class="col-md-4">
            <div class="card h-100">
                <img th:src="@{'/images/large/' + ${category.image}}" class="card-img-top" th:alt="${category.name}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${category.name}"></h5>
                    <p class="card-text text-muted" th:text="${category.slug}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
